WALLET_MNEMONIC="hope roof wagon ability sell force cruel valley dizzy spider impulse fame another wheat menu dinner armed because labor mask fly bike mutual book"
WALLET_VERSION=v5r1
CONTRACT_ADDRESS=kQD2P_X3OglmVY0lTog5w6d6D6gLe74p0SNmfqUXlvNzd8Cm